In [1]:
import pandas as pd
from pymcprophet.model import Bayes_TS

In [2]:
df = df = pd.read_csv('https://raw.githubusercontent.com/facebook/prophet/main/examples/example_wp_log_peyton_manning.csv')
df['ds'] = pd.to_datetime(df['ds'])

In [3]:
ts_model = Bayes_TS(n_weekly_terms = 10)

In [4]:
ts_model.produce_model_matrix(df)

             ds          y  t_seasonality
0    2007-12-10   9.590761        13857.0
1    2007-12-11   8.519590        13858.0
2    2007-12-12   8.183677        13859.0
3    2007-12-13   8.072467        13860.0
4    2007-12-14   7.893572        13861.0
...         ...        ...            ...
2900 2016-01-16   7.817223        16816.0
2901 2016-01-17   9.273878        16817.0
2902 2016-01-18  10.333775        16818.0
2903 2016-01-19   9.125871        16819.0
2904 2016-01-20   8.891374        16820.0

[2905 rows x 3 columns]